.tictactoe{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    row-gap: 4px;
    column-gap: 4px;
    background-color: black;
    width: 308px;
    justify-items: center;
    align-items: center;
}

.card{
    background-color: white;
    width: 100px;
    height: 100px;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.card:hover{
    background-color: gainsboro;
}

.reset{
    display: none;
}